.hrnet-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2mm ridge rgba(211, 220, 50, 0.6);
}
.hrnet-headerMain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.hrnet-headerLink {
    display: flex;
    align-items: center;
    color: #70880c;
    text-decoration: none;
}

.hrnet-headerLogo {
    width: 110px;
    height: 80px;
}

.hrnet-headerTitle {
    color: #70880c;
}

.hrnet-headerNav {
    display: flex;
    align-items: center;
}

.hrnet-headerCreateEmploye {
    color: #70880c;
    margin-right: 20px;
}

.hrnet-headerListEmploye {
    color: #70880c;
    margin-right: 20px;
}