.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.table-containerLimit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}
button {
    padding: 0;
    border: none;
    background: none;
}
th {
    min-width: 100px;
    background-color: #70880c;
}

td {
    text-align: center;
    background-color: rgba(151, 153, 108, 0.6);
}

.table-columnFilter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeFilter {
    font-weight: 600;
    text-decoration: underline;
}
.table-arrow{
    width: 15px;
    height: 15px;
}

.table-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.table-paginationText {
    font-weight: 600;
}

.table-paginationNav {
    display: flex;
}

.table-paginationList {
    padding-left: 5px;
}

.table-paginationListNum {
    cursor: pointer;
    background: rgba(151, 153, 108, 0.6);
    border-radius: 2px;
    padding: 5px;
}

.table-paginationListNum:hover {
    text-decoration: underline;
}

.activePage {
    text-decoration: underline;
    font-weight: 600;
}

.disabled {
    pointer-events: none;
}
