.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}
button {
    padding: 0;
    border: none;
    background: none;
}
th {
    background-color: #70880c;
}

td {
    background-color: rgba(151, 153, 108, 0.6);
}

.table-pagination {
    display: flex;
    justify-content: space-between;
}

.table-paginationList {
    padding-left: 5px;
}

.active {
    color: red;
}